@charset "utf-8";

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
h1{
    text-align: center;
}
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

div#buttons {
    text-align: center;
    width: 100%;
 }
 
 input[type='submit'], input[type='reset']{
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
 }
  
 nav.Home
 {
     
     text-align: center;
     font-size: 50px;
     font-family: 'Courier New', Courier, monospace;
     border-style: solid;
     border-width: 5px;
     width: 241px;
     margin: 150px 850px;
 }
 
 nav.Home a:visited, nav.Home a:link{
     color: black;
     text-decoration: none;
 }
 
 nav.Home a:hover, nav.Home a:active{
     
     background-color: black;
     color: white;
 }
